<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DebugMode" value="Yes" />
    <add key="EnableGetJobsInPendingStateAndNotStartedWithinSLA" value="Yes" />
    <add key="EnableGetJobsInRunningModeAndPotentialHung" value="Yes" />
    <add key="EnableGetJobsInSuccessModeWithPotentialError" value="Yes" />
    


    <!--Dev Connection-->
    <add key="UiPathDBConnection" value="Server=DCA-DEV-749;Database=UiPath;User Id=UiPathLogs;Password=UI@Path#2020$;" />
    <add key="UiPathRobotLogDBConnection" value="Server=DCA-DEV-750;Database=UiPath;User Id=UIPathlogread;Password=UI@Path#2020$;" />

    <!--Prod Connection-->
    <!--<add key="UiPathDBConnection" value="Server=DCA-DB-549;Database=UiPath;User Id=UiPathLogs;Password=UI@Path#2020$;" />
    <add key="UiPathRobotLogDBConnection" value="Server=DCA-DB-549;Database=UiPath;User Id=UiPathLogs;Password=UI@Path#2020$;" />-->

    <!--1- running, 0- pending, 4- fault, 5- completed,6- cancelled -->
    <add key="GetAllJobsRunDetails" value="select j.Id,j.[Key], r.Name,j.State,j.Info,j.EndTime  AT TIME ZONE 'Central Standard Time' as EndTime,j.CreationTime  from Jobs j, Releases r where (j.State = 4 or j.State=1 or j.State=5 or j.State=0) and r.id = j.ReleaseId and j.EndTime  AT TIME ZONE 'UTC' >= DATEADD(minute, -16, GETUTCDATE())" />
    <add key="IsJobHungSQLQuery" value="select top 1 * from RobotLogs where [JobKey]='ReplaceText' order by id desc" />
    <add key="HungMinuteSetting" value="60" />
    <add key="OrchestratorHungJobExceptionProcessNames" value="abc;bcd" />

    <add key="IsJobErrorAtEndofExecutionSQLQuery" value="select top 20 * from RobotLogs where [JobKey]='ReplaceText' order by id desc" />

    <add key="ToEmail" value="Sidharth_Soneja@contractor.amat.com" />

    <!--<add key="ToEmail" value="Uipathrpasupport@amat.com;Sidharth_Soneja@contractor.amat.com;Oscar_Marin@contractor.amat.com;Kristopher.C.Carmona.Lomeli@ey.com" />-->
    <add key="AMATMonitoringJobAdminEmail" value="Sidharth_Soneja@contractor.amat.com" />
    <add key="LogFilePath" value="d:\AMATJobCode\errorlogs\errorlog_" />
    <add key="PendingMinuteSetting" value="60" />
    

  </appSettings>
</configuration>